.login-container {
	@apply min-h-screen;
	@apply px-[2rem];
	@apply py-[1rem];

	position: relative;
	background: rgb(48, 84, 66); // #305442
	background: -moz-linear-gradient(
		301deg,
		rgba(48, 84, 66, 1) 41%,
		// #305442
		rgba(30, 50, 40, 1) 64%,
		// #1e3228
		rgba(15, 25, 20, 1) 74%,
		// #0f1914
		rgba(5, 10, 8, 1) 91% // #050a08
	);
	background: -webkit-linear-gradient(
		301deg,
		rgba(48, 84, 66, 1) 41%,
		// #305442
		rgba(30, 50, 40, 1) 64%,
		// #1e3228
		rgba(15, 25, 20, 1) 74%,
		// #0f1914
		rgba(5, 10, 8, 1) 91% // #050a08
	);
	background: linear-gradient(
		301deg,
		rgb(18, 35, 26) 41%,
		// #305442
		rgb(18, 34, 26) 64%,
		// #1e3228
		rgba(15, 25, 20, 1) 74%,
		// #0f1914
		rgba(5, 10, 8, 1) 91% // #050a08
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#305442",endColorstr="#050a08",GradientType=1);
}
